.Portfolio {
    width: 900px;
    margin: 20px auto;
    text-transform: uppercase;
}
.Portfolio-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}
.Portfolio-photos img {
    width: 45%;
    padding: 10px 0;
    height: auto;
}