.Main-Page {
    /*background: gray;*/
    background: url("../../assets/images/IMG_0529.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 100vh;
}
.Nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.Nav li {
    /*display: inline-block;*/
    padding: 30px 20px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.5);
}
.Nav li:hover {
    color: #fff;
}
.Main-Page h1 {
    text-transform: uppercase;
    font-weight: normal;
    color: rgba(255,255,255,0.4);
    text-align: center;
    transform: translate(0, 150px);
    font-size: 50px;
}