.About-Us {
    margin: 20px auto;
    width: 700px;
    color: rgba(255,255,255,0.6);
    text-transform: uppercase;
    font-weight: normal;
}
/*.About-Us h3 {*/
    /*font-weight: normal;*/
    /*font-size: 30px;*/
/*}*/
.about-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*align-items: flex-start;*/
}
.about-photos img {
    width: 45%;
    height: auto;
    padding: 10px 0;
    align-self: flex-start;
}
